form {
  width: 100%;
  height: fit-content;
  margin-top: 1em;
  display: flex;
  justify-content: space-between
}

input {
  width: 70%
}

.save-btn {
  background-color: #327BBD;
  color: white;
  width: 30%;
  height: 2em;
}

.save-btn:hover {
  background-color: white;
  color: #327BBD;
  width: 30%;
  height: 2em;
}

