.current-deck-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.sidebar-header {
  margin-top: 1em;
  margin-bottom: 0.5em;
  width: fit-content;
  text-decoration: underline;
}

.deck-list {
  width: 80%;
}

.deck-card-name {
  text-decoration: none;
  color: black;
  position: relative;
  transition: left 1s;
}

.deck-card-name:hover {
  left: 0.5em;
  color: blue;
}
