aside {
  width: 25%;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: scroll;
  background-color: #E9E9E9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.current-deck-area {
  width: 95%;
  height: fit-content;
}
