nav {
  width: 100%;
  height: 8em;
  background-color: #83C3FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.header-logo {
  width: 10em;
  height: 5em;
}

.header-container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3em;
}

h1 {
  width: fit-content;
  height: fit-content;
  font-size: 2em;
}

.nav-link-el {
  width: 20%;
  height: 3em;
  margin-right: 3em;
  background-color: #C4C4C4;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.nav-button {
  width: 100%;
  height: 3em;
  background-color: #C4C4C4;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.nav-link-el:hover {
  background-color: white;
}

.nav-button:hover {
  background-color: white;
}


button {
  font-size: 1em;
}