.saved-decks-container {
  min-height: 20em;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
}

ul {
  width: 80%;
}

.deck-link {
  background: none;
  border: none;
  position: relative;
  transition: left 1s;
}

.deck-link:hover {
  left: 0.5em;
  color: blue;
}